<%= layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="row col-8 offset-2 mt-3">
    
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing.id %>?_method=PUT" class="needs-validation" novalidate >
        <div class="mb-3">
           <label for="title" class="form-label">Title</label>
           <input type="text" name="listing[title]" id="title" value="<%= listing.title %>" class="form-control" required>
           <div class="invalid-feedback">Title should be valid</div>
        </div>

        <div class="mb-3">
           <label for="desc" class="form-label">Description</label>
           <textarea name="listing[description]" id="desc" class="form-control" required><%= listing.description %></textarea>
           <div class="invalid-feedback">Please put a short description</div>
        </div>

        <div class="mb-3">
           <label for="img" class="form-label">Image</label>
           <input type="text" name="listing[image]" id="img" value="<%= listing.image %>" class="form-control" required>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
               <label for="price" class="form-label">Price</label>
               <input type="number" name="listing[price]" id="price" value="<%= listing.price %>" class="form-control" required>
               <div class="invali-feedback">Price should be valid</div>
           </div>

           <div class="mb-3 col-md-8">
               <label for="country" class="form-label">country</label>
               <input type="text" name="listing[country]" id="country" value="<%= listing.country %>" class="form-control" required>
               <div class="invalid-feedback">Country should be valid</div>
           </div>
        </div>
       

        <div class="mb-3">
           <label for="location" class="form-label">Location</label>
           <input type="text" name="listing[location]" id="location" value="<%= listing.location %>" class="form-control" required>
           <div class="invalid-feedback">Location should be valid</div>
        </div>
        <br>
        <button class="btn btn-dark mb-3">Edit</button>
        <br>
    </div>
    </div>
</body>
